name: Sync Hashnode to GitHub

on:
  workflow_dispatch: # Cho phép bạn chạy workflow này thủ công từ tab Actions
  schedule:
    # Chạy tự động mỗi 6 tiếng (bạn có thể thay đổi)
    # 0 */6 * * * = vào phút thứ 0, mỗi 6 giờ
    - cron: '0 */6 * * *'

jobs:
  backup:
    runs-on: ubuntu-22.04
    # Cấp quyền 'write' cho 'contents' để action có thể push
    # file mới (bài viết) vào repository
    permissions:
      contents: write
    steps:
      # 1. Checkout code của bạn
      - name: Checkout Repository
        uses: actions/checkout@v4
      # 2. Chạy Action để tải bài viết từ Hashnode
      - name: Backup Hashnode Blog
        uses: sps/hashnode-blog-backup@v1
        with:
          HOST: 'blog.dogy.io'

          # Thư mục trong repo để lưu bài viết (ví dụ: 'articles', 'blog')
          OUTPUT_DIR: 'articles'

          # Định dạng (nên để 'markdown')
          FORMAT: 'markdown'
        env:
          # Token này được GitHub cung cấp tự động
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
